header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

main:before {
  content: "";
  display: block;
  height: 100px;
}

.gridbox {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1000px;
}

.gridbox2 {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2900px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col {
  padding: 15px;
}

.ego {
  width: 640px;
  height: 990px;
  display: block;
}
